{{>layouts/header}}
<div>
<form action="/login-process" method="post">
    <input name="username">

    <input name="password" type="password">

    <button type="submit"> 로그인</button>
</form>
</div>


{{>layouts/footer}}