{{>layouts/header}}


<form action = "/join" method="post">

    <label> id
        <input name="id">
    </label>
    <label>pwd</label>
    <label> 비밀번호
        <input name="password">
    </label>

    <label> 이메일
        <input name="email">
    </label>

    <label> 이름
        <input name="username">
    </label>
    <button type="submit">버튼</button>
</form>


{{>layouts/footer}}