{{>layouts/header}}
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
    loginModal.show();
    });
</script>






{{>layouts/footer}}



