{{>layouts/header}}
<script src="/js/user/myPage.js" defer></script>
<style>
    .sidebar {
        display: flex;
        flex-direction: column;
        background-color: #f8f9fa; /* 배경색 */
        padding: 20px; /* 패딩 */
        height: 100%; /* 사이드바의 높이 100% 설정 */
    }
    .content {
        padding: 20px; /* 패딩 */
        background-color: #fff; /* 배경색 */
    }
    .sidebar .nav {
        flex: 1; /* nav가 가능한 모든 공간을 차지하도록 설정 */
    }
    .sidebar .dropdown {
        margin-top: auto; /* 사이드바 하단으로 이동 */
    }
    .nav-link {
        color: #000;
    }
    .nav-link.active {
        background-color: #0d6efd; /* 활성화된 링크의 배경색 */
        color: #fff; /* 활성화된 링크의 텍스트 색상 */
    }

    .myPage-section{
        display: grid;
        grid-template-columns: 1fr 9fr; /* 사이드바와 콘텐츠 비율 설정 */
        height: auto;
        padding-right: 30px;
        flex: 1;
    }

</style>
<script src="/js/usercheck.js"></script>
<section class = "myPage-section">
    <div class="container-fluid">
        <div class="sidebar p-3 bg-light">
            <span class="fs-4 mb-2">MyPage</span>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto sidebar-nav" >
                <li class="nav-item">
                    <a href="#" id = "userInfo" class="nav-link active" data-content="home" aria-current="page" data-user="{{user}}">회원정보</a>
                </li>

                {{#role}}
                    <li>
                        <a href="#" class="nav-link" data-content="admin">관리자</a>
                    </li>
                {{/role}}

                <li>
                    <a href="#" class="nav-link" data-content="orders">Orders</a>
                </li>
                <li>
                    <a href="#" class="nav-link" data-content="products">Products</a>
                </li>
                <li>
                    <a href="#" class="nav-link" data-content="customers">Customers</a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="#" alt="" width="32" height="32" class="rounded-circle me-2">
<!--                    프로필 사진-->
                    <strong id = "profile"></strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content" id="content">
    </div>
</section>
<section>

</section>

{{>layouts/footer}}