{{>layouts/header}}

<div class="container">

    <form action="/signins/new" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름 입력">
        </div>
        <button type="submit">등록</button>
    </form>
</div>



{{>layouts/footer}}
