{{>layouts/header}}
<script src="/signin/signin.js"></script>
<div class="container">

    <form action="/signins/new" method="post">

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-2 d-flex justify-content-center">
                <label for="id">아이디</label>
            </div>

            <div class="col-3">
                <input type="text" id="id" name="id" class="form-control" placeholder="아이디 입력">
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-2 d-flex justify-content-center">
                <label for="name">이름</label>
            </div>

            <div class="col-2">
                <input type="text" id="name" name="name" class="form-control" placeholder="이름 입력">
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-2 d-flex justify-content-center">
                <label for="pwd">비밀번호</label>
            </div>

            <div class="col-4">
                <input type="text" id="pwd" name="pwd" class="form-control" placeholder="비밀번호 입력">
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-2 d-flex justify-content-center">
                <label for="pwd">비밀번호 확인</label>
            </div>

            <div class="col-4">
                <input type="text" id="pwd" name="pwd" class="form-control" placeholder="비밀번호 재입력">
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-2 d-flex justify-content-center">
                <label for="rrn">핸드폰 번호</label>
            </div>

            <div class="col">
                <div>

                    <input type="text" maxlength="3"  placeholder="전화번호 입력" class="custom-input" value="010" readonly>
                    <span>-</span>

                    <input type="text" maxlength="4" id="input1" minlength="4" class="custom-input">
                    <span>-</span>

                    <input type="text" maxlength="4" id="input2" minlength="4" class="custom-input">

                </div>

            </div>

            <div class="row mb-1 mt-3">
                <div class="col-3">
                    <label for="zipCode" class="form-label" style="text-align: center; font-size: 20px;">우편번호</label>
                </div>
                <div class="col-6 d-flex align-items-center">
                    <input name="zipCode" type="text" class="form-control" style="font-size: 15px"
                           readonly placeholder="조회를 눌러주세요" id="zipCode">
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary mt-0" data-bs-toggle="modal"
                            data-bs-target="#Modal" data-bs-name='주소 조회' data-bs-type="address" >조회
                    </button>
                </div>
            </div>

        </div>




        <button type="submit">등록</button>
    </form>
</div>


<div class="modal fade" id="Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="selectName"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="searchType" datatype="null">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="inputNumber">
                    </div>
                    <div style="float:right">
                        <button type="button" id = "inputBumBtm" class="btn btn-primary" onclick="search()">조회</button>
                    </div>
                </form>
                <!-- 조회 결과를 표시할 부분 -->
            </div>
            <div id="searchResults" class="table-scroll" style="margin-top: 20px;"></div>
        </div>
    </div>
</div>


<style>

    .custom-input {
        width: 100px;
        text-align:center;
    }
</style>

{{>layouts/footer}}
