</section>
<!-- footer -->
<footer class="container-fluid footer">
    <hr>
    <p>ⓒ CloudStrudying · <a href="#">Privacy</a> · <a href="#">Terms</a> </p>
</footer>
</body>
<style>
    .footer {
        flex-shrink: 0; /* 푸터의 크기를 고정 */
    }
</style>
</html>