{{>layouts/header}}
<main>

    <form id='form' action="/earbee/business/add" method="post">
        <section id="button-section">


                <button type="button" class="btn btn-primary" onclick="businessSubmit()" style="margin-right: 5px;">
                    신청하기
                </button>

                <button type="button" class="btn btn-primary ml-5 mr-10" onclick="x()"
                        style="margin-left: 5px; margin-right: 10px;">
                    다시 작성
                </button>

        </section>
        <section id="table-first-section">
                <label> 사업자 등록 정보 삽입</label>

                <table border="1" id="left-table">
                    <tr>
                        <td colspan="3"><label style="margin-bottom: 5px">사업자 번호</label></td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="mb-3 mr-3">
                                <input name="bNo" type="text" class="form-control" id="businessNum" readonly
                                       placeholder="사업자 번호를 조회해주세요" style="font-size: 10px">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3 ml-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#Modal"
                                        data-bs-name='사업자 번호 조회' data-bs-type="business">조회
                                </button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">주소</td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="mb-3 mr-3 ">
                                <input name="zipCode" type="text" class="form-control" style="font-size: 15px"
                                       readonly
                                       placeholder="조회를 눌러주세요" id="zipCode">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#Modal"
                                        data-bs-name='주소 조회' data-bs-type="address">조회
                                </button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <div class="mb-3 ">
                                <input name="addr" type="text" class="form-control" id="addr"
                                       style="font-size: 10px" readonly>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <div class="mb-3 ">
                                <input name="detail" type="text" class="form-control" id="detail"
                                       style="font-size: 10px" readonly>
                            </div>
                        </td>
                    </tr>
                </table>

        </section>

        <section id="table-second-section">

                <table border="1" id="right-table">
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </table>
        </section>
    </form>
</main>

<!-- 모달창 -->
<div class="modal fade" id="Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="selectName"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="searchType" datatype="null">
                    <div class="mb-3">
                        <input type="Number" class="form-control" id="inputNumber">
                    </div>
                    <div style="float:right">
                        <button type="button" id="inputBumBtm" class="btn btn-primary" onclick="search()">조회</button>
                    </div>
                </form>
                <!-- 조회 결과를 표시할 부분 -->
            </div>
            <div id="searchResults" class="table-scroll" style="margin-top: 20px;"></div>
        </div>
    </div>
</div>

<script src="/business/js/business.js"></script>

<style>
    /*스피너 숨기기*/
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    section {
        border : 1px solid red;
    }


</style>

{{>layouts/footer}}