{{>layouts/header}}
<div class="business">
    <form>
        <table>
            <tr>
                <td colspan="3"><label style="margin-bottom: 5px">사업자 번호</label></td>
            </tr>
            <tr>
                <td>
                    <div class="mb-3 ">
                        <input name="businessNumber" type="text" class="form-control" id ="businessNum" readonly
                               placeholder="사업자 번호를 조회해주세요">
                    </div>
                </td>
                <td>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal"
                                data-bs-name='사업자 번호 조회' data-bs-type="business">조회
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">주소</td>
            </tr>
            <tr>
                <td>
                    <div class="mb-3 ">
                        <input name="businessNumber" type="text" class="form-control" readonly>
                    </div>
                </td>
                <td>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal"
                                data-bs-name='주소 조회' data-bs-type="address">조회
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- 모달창 -->
<div class="modal fade" id="Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="selectName"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="searchType" datatype="null">
                    <div class="mb-3">
                        <input type="Number" class="form-control" id="inputNumber">
                    </div>
                    <div style="float:right">
                        <button type="button" id = "inputBumBtm" class="btn btn-primary" onclick="search()">조회</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    .business {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
    }

    /*스피너 숨기기*/
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

</style>
<script>
    // 모달창 이벤트
    const Modal = document.getElementById('Modal');
    document.querySelector('#inputNumber').addEventListener('keypress', handleKeyPress);

    if (Modal) {
        Modal.addEventListener('show.bs.modal', event => {
            // 트리거 버튼 찾기
            const button = event.relatedTarget;

            // 데이터 가져오기
            const modalType = button.getAttribute("data-bs-type");

            // 모달창에 데이터 반영
            document.querySelector('#selectName').innerText = button.getAttribute("data-bs-name");
            // type 별로 placeholder 바꾸기 및 현재 폼이 어떤 RestApi을 호출할 것인지 form에 data-sort-type을 지정함
            if (modalType !== 'business') {
                document.querySelector('#inputNumber').removeAttribute("placeholder");
                document.querySelector('#searchType').setAttribute('data-sort-type', 'null')
                document.querySelector('#inputNumber').setAttribute('type', 'text');
            } else {
                document.querySelector('#inputNumber').setAttribute('placeholder', "- 제거해서 입력해주세요");
                document.querySelector('#searchType').setAttribute('data-sort-type', 'businessNum')
                document.querySelector('#inputNumber').setAttribute('type', 'number');

            }
            // inputNumber에 대한 keypress 이벤트 리스너 등록

        });
    }


    // 엔터 키 이벤트 처리 (보류)
/*
    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            // 엔터 키인 경우 검색 함수 호출
            search();
        }
    }
*/


    // 모달창 텍스트 길이 확인
    function isBusinessNumValid(businessNum) {
        // 문자열의 길이를 확인하여 유효성을 검사합니다.
        if (businessNum.length !== 10) {
            alert("사업자 번호를 확인해주세요1");
            $('#inputNumber').val('');
            return false
        }
        // 유효한 경우 true 반환
        return true;
    }

    function search() {
        const dataSortType = document.querySelector('#searchType').getAttribute('data-sort-type');
        const businessNum = document.querySelector('#inputNumber').value;

        if(!isBusinessNumValid(businessNum)){
            return false;
        }
        if (!(dataSortType !== 'businessNum')) {
            const url = "/api/business/search";
            const body = {
                b_no: businessNum
            }

            fetch(url, {
                method: "post",
                body: JSON.stringify(body),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                if (!response.ok) {
                    alert("사업자 번호를 확인해주세요2");
                    console.log(response);
                    $('#inputNumber').val('');
                    $('#inputNumber').focus();
                }else{
                    return response.json();
                }
            }).then(data => {
                console.log('Received data:', data);
                // 여기서 data는 자바 객체로 사용 가능
                // 예를 들어, 특정 속성에 접근하거나 처리할 수 있습니다.

                // 성공적으로 처리되었을 때 모달 닫기
                if(data!=null) {
                    $('#businessNum').val(data.b_no); // 메인 폼에 사업자 번호 삽입
                    $('#Modal').modal('hide'); // 모달창 숨기기}
                }

            }).catch(error => {
                console.error('Error:', error);

            });

        }else{alert("사업자 번호를 확인하세요");}




    }
</script>


{{>layouts/footer}}