{{>layouts/header}}
<h1> header, footer 확인</h1>

<div class="d-grid gap-2 d-md-block">
    <button class="btn btn-primary" type="button" onclick=location.href="/main/insert">신청하기</button>
    <button class="btn btn-primary" type="button">내 신청글 보기</button>
</div>





{{>layouts/footer}}