{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col" style="align-content: center">글번호</th>
        <th scope="col" style="">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">내역</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    </tbody>
</table>




<div class="d-grid gap-3 d-md-block">
    <button class="btn btn-primary" type="button" onclick=location.href="/earbee/applyplace">신청하기</button>
    <button class="btn btn-primary" type="button">내 신청글 보기</button>
</div>





{{>layouts/footer}}